

.container {
    width: auto;
    height: 100vh;
}

nav {
    width: auto;
    height: 6.375rem;
    background-color: var(--PCV_500);
    display: flex;
}

.titulo {
    margin-left: 10px;
}

a{
    text-decoration: none;
    font-family: var(--font_headlines);
    color: var(--WHCV_500);
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 80px;
    line-height: 46px;
    letter-spacing: 0.25px;
}

.navcontainer2,
.navcontainer1 {
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
}

.navcontainer2 {
    justify-content: space-around;
}

.img-source {
    height: 30px;
}

main {
    min-height: 55%;
    display: flex;
}

.container-img {
    background-image: url('/assets/iniciar-sesion-hero-b.jpg');
    background-repeat: no-repeat;
    display: flex;
    width: 60%;
    height: 35rem;
}

.container-img img {
    height: 100%;
    width: 100%;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.container-form h1 {
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: var(--PCV_500);
}

.container-form h3 {
    font-size: 30px;
    margin-left: 30px;
}

.iniciar-sesion {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 80%;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
}

.correo,
.contraseña {
    display: flex;
    flex-direction: column;
}

.container-pass,
.container-email {
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px
}

.container-pass,
.container-email {
    display: flex;
    justify-content: normal;
    align-items: center;
    gap: 5px;
}

.btn-loggear {
    width: 100px;
    height: 30px;
    background-color: var(--PCV_500);
    color: #f9f9f9;
    margin-top: 10px;
}

.password-forgetting {
    color: #1b396a;
    font-size: 1.5em;
}
